.container {
  max-width: 600px;
}

.btn {
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
}

.chat-window {
  height: 400px;
  border: 2px solid #8d8e90;
  overflow-y: scroll;
}

.username {
  font-weight: bold;
}

.time {
  font-size: 0.7em;
  color: #999;
}

.update-mssg {
  text-align: center;
  margin: 20px auto;
}
